.ui.header
  | 用户反馈

.ui.divided.list.feedbacks(*ngIf='feedbacks')
  .ui.item(*ngFor='let feedback of feedbacks')
    .subject(*ngIf='feedback.subject') {{feedback.subject}}
    pre.content {{feedback.content}}
    .footer
      | {{feedback.userNickName}}（{{feedback.userName}}）
      | {{feedback | createdDateString:'minute'}}
      | &nbsp; | &nbsp; {{feedback.client | clientInfo}}
      .ui.right.floated.sub.header
        a((click)='messagesForFeedback(feedback)') {{feedback.replied? '已回复':'未回复'}}

.ui.right.floated.small.pagination.menu
  a.icon.item([ngClass]='{disabled:page===1}', (click)='previousPage()')
    i.left.chevron.icon
  a.item.disabled {{page}}
  a.icon.item([ngClass]='{disabled:!feedbacks||feedbacks.length<pageSize}', (click)='nextPage()')
    i.right.chevron.icon

.ui.hidden.clearing.divider
