.para-text(#paraText='',
(mouseup)='onMouseup()',
(keyup)='onKeyup()',
[attr.contenteditable]='editable',
spellcheck='false')
.ui.right.rail(*ngIf='beenChanged')
  .ui.list([hidden]='!gotFocus')
    .ui.item
      button.ui.mini.primary.basic.button((click)='notifySave()', [ngClass]='{disabled: !changed}')
        i.checkmark.icon
        | 保存
    .ui.item
      button.ui.mini.primary.basic.button((click)='discard()', [ngClass]='{disabled: !changed}')
        i.undo.icon
        | 撤销
