:host {
  display: block;
  min-width: 150px;
}

.header .icon.button {
  font-size: 0.93rem;
  margin-right: 0;
}

.item {
  min-width: 6em;
}

.clear.item {
  margin-top: 1em;
}

.item-head {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0.5em;
}

.item-text {
  margin: 0.5em 0 0.5em 1.5em;
  /*white-space: nowrap;*/
  max-width: 400px;
  display: block;
}

.ui.compact.icon.button {
  padding: 0.38em 0.38em 0.38em;
}
