.ui.header(*ngIf='category')
  | {{category.name}}
  .ui.hidden.divider
  .sub.header {{category.description}}

div(*ngIf='category')
  .prop
    .prop-name Code
    .prop-value {{category.code}}
  .prop
    .prop-name 筛选
    .prop-value {{ filterStr(category) }}
  .prop
    .prop-name 基于
    .prop-value {{category.extendTo}}
  .prop
    .prop-name 增加词汇
    .prop-value {{category.wordCount}}
  .prop
    .prop-name 总词汇量
    .prop-value {{category.extendedWordCount}}

  .ui.hidden.clearing.divider

  .ui.sub.header
    | Sample Words
    .ui.tiny.basic.button((click)='fetchSamples()') {{sampleWords? 'Change':'Show'}}
  .ui.segment(*ngIf='sampleWords')
    .ui.horizontal.list
      a.item(*ngFor='let word of sampleWords', (click)='onClickAWord(word,$event)') {{word}}

.ui.hidden.clearing.divider

button.ui.tiny.button((click)='goBack()') 返回
