.app-link {
  word-break: break-all;
}

.title {
  font-size: 1rem;
  margin-top: 1em;
  font-weight: normal;
}

.links.ui.definition.table tr td:first-child:not(.ignored) {
  min-width: 5em;
  padding: 0.5em;
}

.short-link {
  margin-top: 1em;
}

.short-link .app-link {
  color: #00B5AD;
  margin-top: 0.5em;
}
