.ui.header
  | 纠错

.ui.divided.list.issues(*ngIf='issues')
  .ui.item(*ngFor='let issue of issues')
    quoted-text([paraQuote]='{paraId: issue.paraId, sentenceId: issue.sentenceId}',
    [textTrans] = 'false', [showTitle]='true')
    pre.content {{issue.content}}
    .footer
      | {{issue.userNickName}}（{{issue.userName}}）
      | {{issue | createdDateString:'minute'}}
      .ui.right.floated.sub.header
        .ui.dropdown(suiDropdown='')
          .text {{IssueStatusNames[issue.status]}}
          i.dropdown.icon
          .menu(suiDropdownMenu='')
            ng-template(ngFor='', let-status='', [ngForOf]='[IssueStatuses.Todo,IssueStatuses.Solved,IssueStatuses.Ignored]')
              .item(*ngIf='issue.status!==status', (click)='updateStatus(issue,status)') {{IssueStatusNames[status]}}
        | &nbsp;&nbsp;&nbsp;&nbsp;
        a((click)='messagesForIssue(issue)') {{issue.replied? '已回复':'未回复'}}

.ui.right.floated.small.pagination.menu
  a.icon.item([ngClass]='{disabled:page===1}', (click)='previousPage()')
    i.left.chevron.icon
  a.item.disabled {{page}}
  a.icon.item([ngClass]='{disabled:!issues||issues.length<pageSize}', (click)='nextPage()')
    i.right.chevron.icon

.ui.hidden.clearing.divider
