.para-split-header.header {
  font-size: 1.3rem !important;
}

.para-split-header .tip {
  font-size: 1.1rem !important;
}

.para-split-header .tip span.split-by-lflf {
  color: #2185D0;
}

.para-split-header .tip span.split-by-lf {
  color: #00B5AD;
}

.split-para.row .column {
  padding: 0 !important;
}

.split-para.row .ui.button {
  margin-top: 3px;
  /*margin-left: 3px;*/
  display: block;
}

.split-para.row.fix .para-text {
  color: rgba(0, 0, 0, 0.6);
}

.split-para.row .fixit {
  padding-top: 0.3rem;
}

.split-para.row .fixit sui-checkbox label {
  font-weight: bold;
}

.split-para.row .middle-column.column, .split-para.row .right-column.column {
  padding-left: 0.3em !important;
  padding-right: 0 !important;
}

.split-para.row .right-buttons.item {
  margin-right: -3em !important;
}
