span.tip {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
}

.sub.header span.tip {
  font-size: 0.9em;
  margin-top: 0.5em;
}

.ui.list.pack-info {
  margin-top: 0;
}

.pack-info .ui.label {
  background: unset;
}
