.ui.header
  | {{book.name}}
  .sub.header
    span.tip 创建内容包（静态化），app端用户可加速下载图书内容
.ui.content
  .ui(*ngFor='let pInfo of packInfos')
    h4.ui.grey.dividing.header
      | {{pInfo.title}}
      span.tip {{pInfo.tip}}
      .clearing
    .ui
      .ui.right.floated.header
        ng-template([ngIf]='pInfo.pack')
          .ui.mini.button((click)='dropPack(pInfo)', [ngClass]='{disabled: pInfo.allowBuild||executingPack===pInfo}') 删除
        ng-template([ngIf]='!pInfo.pack')
          .ui.mini.primary.button((click)='buildPack(pInfo)', [ngClass]='{disabled: pInfo.allowBuild||executingPack===pInfo}') 创建
      .ui.horizontal.small.list.pack-info
        ng-template([ngIf]='pInfo.pack')
          .item
            | 创建于
            .ui.small.label {{pInfo.pack.builtAt | date:'yyyy-M-d' }}
          .item
            | 大小
            .ui.small.label {{pInfo.pack.size | fileSize}}
          .item
            | 章节
            .ui.small.label {{pInfo.pack.chaps}}
        ng-template([ngIf]='!pInfo.pack')
          .item.disabled 未创建
    .ui.hidden.divider

.actions
  button.ui.tiny.button((click)="close()", autofocus='') 关闭
