
<div *ngIf="book">
  <div [hidden]="editing">
    <h3>Book: {{book.name}} by {{book.author}}</h3>
    <button (click)="edit()">Edit</button>
  </div>
  <div *ngIf="editing">
    <label>Book name:</label>
    <input [value]="book.name" #bookName=""/>
    <label>Author:</label>
    <input [value]="book.author" #bookAuthor=""/>
    <button (click)="this.editing=false">Cancel</button>
    <button (click)="save(bookName.value,bookAuthor.value)">Save</button>
  </div>
  <book-chaps [book]="book"></book-chaps>
</div>
<button (click)="goBack()">Back</button>