.ui.header
  | Book List
.ui.celled.list
  .item(*ngFor='let book of books; trackBy: bookTracker')
    a((click)='gotoDetail(book)', [routerLink]="['/books', book._id]")
      | {{book.name}}
    button.ui.tiny.button.right.floated((click)='remove(book)') Remove

.ui.small.form
  .field
    label New Book:
  .fields
    .seven.wide.field
      input(#bookName='', placeholder='Book Name')
    .three.wide.field
      input(#author='', placeholder='Author')
    .field
      button.ui.tiny.button((click)="add(bookName.value,author.value); bookName.value='';author.value=''")
        | Add
