.ui.header
  | Book List
.ui.celled.list
  .item(*ngFor='let book of books; trackBy: bookTracker')
    a((click)='gotoDetail(book)', [routerLink]="['/books', book._id]")
      | {{book.name}}
    button.ui.small.button.right.floated((click)='remove(book)') Remove

.ui.form
  .field
    label New Book:
  .fields
    .field
      input(#bookName='', placeholder='Book Name')
    .field
      input(#author='', placeholder='Author')
    .field
      button.ui.small.button((click)="add(bookName.value,author.value); bookName.value='';author.value=''")
        | Add
