.ui.container
  .ui.secondary.pointing.menu
    a.item(routerLink='/', routerLinkActive='active') Home
    a.item(routerLink='/books', routerLinkActive='active') Books
    a.item(routerLink='/annotation-families', routerLinkActive='active') Annotations
    a.item(routerLink='/dict', routerLinkActive='active') Dict
    ng-template([ngIf]='currentUser && currentUser.role==="Admin"')
      a.item(routerLink='/word-categories', routerLinkActive='active') Word Categories
      a.item(routerLink='/users', routerLinkActive='active') Users
    .right.menu
      a.item(*ngIf='!currentUser', (click)='gotoLogin()') Login
      .item(*ngIf='currentUser')
        | {{currentUser.name}} &nbsp;&nbsp;
        a((click)='logout()') Logout

  .ui.small.form.login(*ngIf='loginForm')
    h3 Login
    p(*ngIf='loginMessage')
      | {{loginMessage}}
    .field
      input(type="text", #name="", placeholder="Username")
    .field
      input(type="password", #pass="", placeholder="Password")
    .field
      .ui.small.button((click)='cancelLogin()') 取消
      .ui.small.primary.button((click)='login(name.value, pass.value)') 登录
    .ui.hidden.clearing.divider

  router-outlet

  p &nbsp;
