ng-template([ngIf]='entry')
  .ui.small.header
    dict-phonetics.ui.right.floated.tiny.header([phonetics]='entry.phonetics')
    | {{word}}
  .ui.list
    .ui.item(*ngFor='let item of entry.simple')
      | {{item.pos}} {{item.exp}}
