.ui.list.words-history {
  margin-top: 3.5em;
}

.ui.search .prompt {
  border-radius: 0.7rem;
}

.simple-explain-row, .pos-header {
  line-height: 2.5em;
}

.dict-entry .ui.header
.simple-explain-row {
  margin-left: 3em;
}

.entry-word {
  padding-right: 1em;
  font-size: 1.4em;
}

.entry-word, .categories, .categories > * {
  display: inline;
}

.categories * {
  font-weight: normal;
  font-size: 0.9rem;
}

.categories .mini.button {
  font-size: 0.8rem;
}

.cat-labels label {
  padding: 0 0.5em;
  display: inline-block;
  background: silver;
  font-size: 0.8rem;
  line-height: 1rem;
  border-radius: 0.2rem;
}

.pos-meanings {
  margin-top: 0.5em;
}

.ui.list.meaning-items {
  margin-top: 0;
  margin-left: 3em;
}

.ui.list.meaning-items .item {
  line-height: 1.5em;
}

.pos-header {
  font-weight: bold;
  padding: 3px;
  margin: 3px;
}

.ui.divider {
  margin: 0.5em 0;
}

.clearing {
  clear: both;
}
