.ui.grid
  .three.wide.column
    .ui.list.words-history
      a.item(*ngFor='let entry of entryHistory', (click)='selectHistoryEntry(entry)', href='javascript:')
        | {{entry.word}}
  .thirteen.wide.column
    sui-search([optionsLookup]="dictSearch", optionsField="word", searchDelay="400",
    (resultSelected)="selectEntry($event)", [retainSelectedResult]="false", placeholder='单词、短语...')
    dict-entry.ui.segment(*ngIf='entry', [entry]='entry')
