

.simple-explain-row, .pos-header {
  /*line-height: 2.5em;*/
}

.simple-explain-row {
  margin-left: 2em;
}

.entry-word {
  padding-right: 1em;
  font-size: 1.4em;
}

.entry-word, .categories, .categories > * {
  display: inline;
}

.categories * {
  font-weight: normal;
  font-size: 0.9rem;
}

.cat-labels label, .cat-labels .ui.label {
  padding: 0 0.4rem;
  margin-left: 0.1rem;
  display: inline-block;
  background: silver;
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.pos-meanings {
  margin-top: 0.3em;
}

.ui.list.meaning-items {
  margin-top: 0;
  margin-left: 2em;
}

.ui.selection.list > .item {
  padding: 0.3rem 0;
  color: inherit;
}

.ui.header.entry-header {
  line-height: 1.1em;
  margin-bottom: 0.5em;
}

.pos-header {
  font-weight: bold;
  padding: 3px;
  /*margin: 3px;*/
}

.ui.divider {
  margin: 0.3em 0;
}

.clearing {
  clear: both;
}

.item-explain {
  padding-left: 0.5em;
}

.meaning-item .ui.label {
  /*padding: 0.5833em 0.833em;*/
  padding: 0.2em 0.3em;
}

.optip {
  color: silver;
  font-size: 0.8em;
}

.meaning-item.selected {
  color: #bf4040;
}
