.entry-word {
  padding-right: 1em;
  font-size: 1.4em;
}

.entry-word, .categories, .categories > * {
  display: inline;
}

.categories {
  /*margin-left: 1.5em;*/
  /*margin-top: 0.5em;*/
}

.categories * {
  font-weight: normal;
  font-size: 0.9rem;
}

.categories .mini.button {
  font-size: 0.8rem;
}

.cat-labels label, .cat-labels .ui.label {
  padding: 0 0.4rem;
  margin-left: 0.1rem;
  display: inline-block;
  background: #e8e8e8;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.pos-meanings {
  margin-top: 0.5em;
}

.ui.list.meaning-items {
  margin-top: 0;
  margin-left: 3em;
}

.ui.list.meaning-items .item {
  /*line-height: 2.3em;*/
}

.ui.list.meaning-items .item sui-select-option {
  line-height: 1rem;
}

.pos-header {
  font-weight: bold;
}

.ui.divider {
  /*margin: 0.5em 0;*/
}

.clearing {
  clear: both;
}

.meaning-item .ui.label {
  /*padding: 0.5833em 0.833em;*/
  padding: 0.2em 0.3em;
}
