.dict-entry(*ngIf='entry')
  .ui.header.entry-header
    .ui.right.floated.sub.header
    .entry-word {{entry.word}}
    .categories
      .cat-labels
        label.ui.mini.label(*ngFor='let cat of categoryTags') {{cat}}

  .clearing

  .ui.horizontal.list.base-forms(*ngIf='entry.baseForms||entryStack.length > 0')
    a.ui.item(*ngIf='entryStack.length > 0', (click)='goback()', href='javascript:')
      i.left.arrow.icon
      | {{entryStack[entryStack.length-1].word}}
    a.ui.item(*ngFor='let baseForm of entry.baseForms', (click)='goto(baseForm)', href='javascript:')
      | {{baseForm}}

  .ui.clearing.divider
  sui-tabset
    .ui.top.attached.tabular.menu
      a.item(suiTabHeader='co') 释义
      a.item(*ngIf='entry.simpleYd', suiTabHeader='yd') 参考释义（yd）
      a.item(*ngIf='entry.simpleHc', suiTabHeader='hc') 参考释义（hc）
      a.item(*ngIf='entry.phrases', suiTabHeader='ph') 短语
    .ui.bottom.attached.segment(suiTabContent='co')
      sui-accordion([closeOthers]='false')
        sui-accordion-panel.pos-meanings(*ngFor='let posMeanings of entry.complete||[]')
          .pos-header(title='')
            i.dropdown.icon
            | {{posMeanings.pos}}
          .ui.ordered.list.meaning-items(content='')
            .ui.item(*ngFor='let item of posMeanings.items')
              .meaning-item {{item.exp}}
    .ui.bottom.attached.segment(*ngIf='entry.simpleYd', suiTabContent='yd')
      .ui.list.simple-explain
        .ui.item(*ngFor='let item of entry.simpleYd')
          | {{item.pos}} {{item.exp}}
      sui-accordion(*ngIf='entry.completeYd', [closeOthers]='false')
        sui-accordion-panel.pos-meanings(*ngFor='let posMeanings of entry.completeYd')
          .pos-header(title='')
            i.dropdown.icon
            | {{posMeanings.pos}}
          .ui.ordered.list.meaning-items(content='')
            .ui.item(*ngFor='let item of posMeanings.items')
              .meaning-item {{item}}
    .ui.bottom.attached.segment(*ngIf='entry.simpleHc', suiTabContent='hc')
      .ui.list.simple-explain
        .ui.item(*ngFor='let item of entry.simpleHc')
          | {{item.pos}} {{item.exp}}
      sui-accordion(*ngIf='entry.completeHc', [closeOthers]='false')
        sui-accordion-panel.pos-meanings(*ngFor='let posMeanings of entry.completeHc')
          .pos-header(title='')
            i.dropdown.icon
            | {{posMeanings.pos}}
          .ui.ordered.list.meaning-items(content='')
            .ui.item(*ngFor='let item of posMeanings.items')
              .meaning-item {{item}}
    .ui.bottom.attached.segment(*ngIf='entry.phrases', suiTabContent='ph')
      .ui.ordered.list.meaning-items
        a.ui.item(*ngFor='let phrase of entry.phrases', (click)='goto(phrase)', href='javascript:')
          | {{phrase}}
