@media only screen and (max-width: 767px) {
  input.search-name {
    max-width: 12em !important;
  }
}

.pager {
  float: right;
}

input.page-input {
  width: 5em !important;
  margin-right: 0.2em;
}
