.ui.header
  ng-template([ngIf]='category')
    | {{category.name}}
    ng-template([ngIf]='category.code') （{{category.code}}）
.ui.content
  table.ui.striped.small.compact.table
    thead
      tr
        th #
        th Code
        th Name
    tbody
      tr(*ngFor='let book of books; index as index')
        td.right.aligned {{index+1}}
        td {{book.code}}
        td
          .enname {{book.name}}
          .zhname(*ngIf='showZh && book.zhName') {{book.zhName}}

.actions
  button.ui.tiny.button((click)="close()", autofocus='') 关闭
