/* *** 词类 Parts of Speech *** */

p-p, .pos {
  border-bottom: 1px dashed dimgrey;
}

p-p:before, .pos:before {
}

p-p:after, .pos:after {
}


/* *** 名词 Noun *** */

n-n, .noun {
  border-bottom: 1px dashed cadetblue;
}

n-n:before, .noun:before {
}

n-n:after, .noun:after {
}


/* *** 动词 Verb *** */

v-v, .verb {
  border-bottom: 1px dashed darkgreen;
}

v-v:before, .verb:before {
}

v-v:after, .verb:after {
}


/* *** 成分 Members of the Sentence *** */

m-m, .memb {
  border-bottom: 1px dashed lightblue;
}

m-m:before, .memb:before {
}

m-m:after, .memb:after {
}


/* *** 从句 Clauses *** */

c-c, .clau {
  border-bottom: 1px dashed silver;
}

c-c:before, .clau:before {
}

c-c:after, .clau:after {
}


/* *** 时态 Tense *** */

t-t, .tens {
  border-bottom: 1px solid olive;
}

t-t:before, .tens:before {
}

t-t:after, .tens:after {
}


/* *** 短语 Phrases *** */

h-h, .phra {
  border-bottom: 1px solid lightskyblue;
}

h-h:before, .phra:before {
}

h-h:after, .phra:after {
}


/* *** 其他 Misc *** */

w-w, .misc {
  border-bottom: 1px solid cornflowerblue;
}

w-w:before, .misc:before {
}

w-w:after, .misc:after {
}
