/* *** 词类 Parts of Speech *** */

y-o, .yo {
  border-bottom: 1px dashed grey;
  /*border-bottom-width: 1px;*/
  /*border-bottom-color: grey;*/
  /*border-bottom-style: dashed;*/
}

.pos {
  border-bottom-color: dimgrey;
}

/*.pos:before {
}*/

/*.pos:after {
}*/

/* *** 名词 Noun *** */

.noun {
  border-bottom-color: cadetblue;
}

/* *** 动词 Verb *** */

.verb {
  border-bottom-color: darkgreen;
}

/* *** 成分 Members of the Sentence *** */

.memb {
  border-bottom-color: darkolivegreen;
  border-bottom-style: solid;
}

/* *** 从句 Clauses *** */

.clau {
  border-bottom-color: silver;
}

/* *** 时态 Tense *** */

.tens {
  border-bottom-color: olive;
  border-bottom-style: solid;
}

/* *** 短语 Phrases *** */

.assoc {
  border-bottom-color: lightskyblue;
  border-bottom-style: solid;
}

.assoc[data-assoc=phra1] {
  border-bottom-color: deepskyblue;
}

.assoc[data-assoc=phra2] {
  border-bottom-color: lightsalmon;
}

.assoc[data-assoc=phra3] {
  border-bottom-color: darkgreen;
}

.assoc[data-assoc=trunk] {
  border-bottom-color: darkgreen;
  border-bottom-style: double;
}

.assoc[data-assoc=antec] {
  border-bottom-color: palevioletred;
  border-bottom-style: solid;
}

.assoc[data-assoc=group1] {
  border-bottom-color: deepskyblue;
}

.assoc[data-assoc=group2] {
  border-bottom-color: lightsalmon;
}

.assoc[data-assoc=group3] {
  border-bottom-color: darkgreen;
}

/* *** 其他 Misc *** */

.misc {
  border-bottom-color: cornflowerblue;
  border-bottom-style: solid;
}
