/* You can add global styles to this file, and also import other style files */
@import url('assets/semantic/reset.css');
@import url('assets/semantic/site.css');
@import url('assets/semantic/button.css');
@import url('assets/semantic/container.css');
@import url('assets/semantic/divider.css');
@import url('assets/semantic/header.css');
@import url('assets/semantic/input.css');
@import url('assets/semantic/checkbox.css');
@import url('assets/semantic/list.css');
@import url('assets/semantic/icon.css');
@import url('assets/semantic/form.css');
@import url('assets/semantic/menu.css');
@import url('assets/semantic/item.css');
@import url('assets/semantic/statistic.css');
@import url('assets/semantic/rail.css');
@import url('assets/semantic/popup.css');
@import url('assets/semantic/search.css');
@import url('assets/semantic/transition.css');
@import url('assets/semantic/segment.css');
@import url('assets/semantic/dropdown.css');
@import url('assets/semantic/grid.css');
@import url('assets/semantic/label.css');
@import url('assets/semantic/dimmer.css');
@import url('assets/semantic/modal.css');
/*@import url('assets/semantic/image.css');*/
/*@import url('assets/semantic/table.css');*/
/*@import url('assets/semantic/message.css');*/
/*@import url('assets/semantic/accordion.css');*/
/*@import url('assets/semantic/sidebar.css');*/
/*@import url('assets/semantic/tab.css');*/
@import url('assets/annotations.css');

.pre-wrap {
  white-space: pre-wrap;
}

[hidden] {
  display: none !important;
}

.ui.toggle.checkbox {
  padding-right: 0.5rem;
}

.ui.checkbox label {
  padding-right: 0.7em;
}

.ui.checkbox label {
  padding-left: 1.4em
}

/*.ui.toggle.checkbox label {*/
/*padding-left: 4.0rem;*/
/*}*/

para-form.ui.form .fields {
  margin: 1em -0.5em;
}

sui-multi-select i.list.icon {
  margin: 0em 0.25rem 0em 0em !important;
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.4);
}

.para-split-header.header {
  font-size: 1.3rem !important;
}

.para-split-header .tip {
  font-size: 1.1rem !important;
}

.splitted-para.row {
  padding: 0 !important;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.splitted-para.row .column {
  padding: 0 !important;
}


.splitted-para textarea {
  height: initial;
  min-height: initial !important;
  max-height: initial;
  display: block;
  overflow: hidden;
  border-radius: initial !important;
  resize: none !important;
  padding: 0.5rem !important;
  border-color: white !important;
  border-radius: 0.28rem !important;
}

.splitted-para textarea:focus {
  border-color: #85B7D9 !important;
}

.splitted-para .right-buttons.list {
  padding-left: 0.5em !important;
  padding-top: 0.5em !important;
}

.splitted-para .left-buttons.list {
  padding-right: 0.5em !important;
  padding-top: 0.5em !important;
}

.splitted-para .rowno {
}
