.ui.small.form.login
  h3 请登录
  .ui.small.message(*ngIf='loginMessage') {{loginMessage}}
  .field
    input(type="text", #name="", placeholder="账号")
  .field
    input(type="password", #pass="", placeholder="密码", (keyup)='onPassKeyup(name.value, pass.value, $event)')
  .field
    .ui.small.button((click)='cancel()') 取消
    .ui.small.primary.button((click)='login(name.value, pass.value)') 登录
