h3.ui.header(*ngIf='book')
  | {{book.name}}
div(*ngIf='chap')
  div([hidden]='editing')
    .ui.right.floated.header
      a([hidden]='editing', (click)='edit()' href='javascript:') Edit
    h4.ui.header
      .pre-wrap {{chap.name}}
  .ui.form(*ngIf='editing')
    .fields
      .eight.wide.field
        textarea(rows='2',[value]='chap.name', #chapName='')
      .field
        button.ui.small.button((click)='editing=false') Cancel
      .field
        button.ui.small.primary.button((click)='save(chapName.value)') Save

  .ui.hidden.divider
  chap-paras([chap]='chap')

.ui.hidden.clearing.divider
button.ui.small.button((click)='goBack()') Back
