.sticky.header {
  background-color: white;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  z-index: 10;
}

.sticky.header .operations {
  padding: .3em;
  border-bottom: 1px dashed silver;
}

.ui[class*="right floated"].header {
  margin: 0 0 .5em 0;
}

.annotations .ui.buttons {
  margin-right: 0.5rem;
}

.item.paragraph {
  margin: 0;
}

.ui.statistic.para-no {
  min-width: 1.8em;
  padding-top: 0.3em;
}

.ui.statistic.para-no .value {
  text-align: right;
  font-size: 1.2rem !important;
}

.paragraph > .para-content {
  position: relative;
  flex: 1 1 auto;
  border: 1px solid white;
  padding: 0.3em;
  border-radius: 0.5em;
  line-height: 1.4rem;
  font-size: 1.1rem;
}

.paragraph > .selected.para-content {
  border-color: lightskyblue;
}

.paragraph .para-no {
  cursor: pointer;
}

