.fields
  .wide.field([ngClass]='showTrans? "seven":"fourteen"')
    textarea([(ngModel)]="para.content", #content='', spellcheck='false')
  .seven.wide.field(*ngIf='showTrans')
    textarea([(ngModel)]="para.trans", #trans='', spellcheck='false')
  .field
    button.ui.tiny.button((click)='cancel()') 取消
    br
    br
    button.ui.tiny.primary.button((click)='save()') 保存
