.fields
  .wide.field([ngClass]='showTrans? "eight":"sixteen"')
    textarea([(ngModel)]="para.content", #content='', spellcheck='false')
  .eight.wide.field(*ngIf='showTrans')
    textarea([(ngModel)]="para.trans", #trans='', spellcheck='false')
.field
  button.ui.tiny.button((click)='splitParas()')
    i.paragraph.icon
    | 分段
  button.ui.tiny.button((click)='alignSentences()')
    i.align.left.icon
    | 分句
  .ui.right.floated.tiny.buttons
    button.ui.tiny.button((click)='cancel()') 取消
    .or
    button.ui.tiny.primary.button((click)='save()') 保存
